<header>
    <div class="logoc">
        <a href="/clubs" style="display: block; height: 100%"></a>
    </div>
    <h1>Discotheque</h1>
    <div class="profile">
        <a href=# style="display: block; height: 80px; width: 80px"></a>
        <div class="popover">
            <ul>
                <li><a href="/user">Your profile</a></li>
                <li class="borde"><a href="/clubs/add">Create a club</a></li>
                <li><a href="/">Sign out</a></li>
            </ul>
        </div>
    </div>
</header>
        
<div class="cont-add-club">
    <form action="/user/edit/{{club.id}}" method="POST">
        <div class="form">
            <h1>{{club.name}}</h1>
            <div class="grupo">
                <input type="text" value="{{club.name}}" name="name" required><span class="barra"></span>
                <label for="">Name</label>
            </div>
            <div class="grupo">
                <input type="text" value="{{club.address}}" name="address" required><span class="barra"></span>
                <label for="">Address</label>
            </div>
            <div class="grupo">
                <input type="text" value="{{club.neighborhood_city}}" name="neighborhood_city" required><span class="barra"></span>
                <label for="">Neighborhood and city</label>
            </div>
            <div class="grupo">
                <input type="text" value="{{club.club_type}}" name="club_type" required><span class="barra"></span>
                <label for="">Club type (discoteca, fonda o bar)</label>
            </div>
            <div class="grupo">
                <textarea name="open_doors" rows="3" required>{{club.open_doors}}</textarea><span class="barra"></span>
                <label for="">Open doors</label>
            </div>
            <div class="grupo">
                <textarea name="rooms" rows="2" required>{{club.rooms}}</textarea><span class="barra"></span>
                <label for="">Rooms</label>
            </div>
            <div class="grupo">
                <textarea name="musical_genres" rows="2" required>{{club.musical_genres}}</textarea><span class="barra"></span>
                <label for="">Musical genres</label>
            </div>
            <div class="grupo">
                <textarea name="keywords" rows="3" required>{{club.keywords}}</textarea><span class="barra"></span>
                <label for="">Keywords</label>
            </div>
            <div class="grupo">
                <textarea name="description" rows="5" required>{{club.description}}</textarea><span class="barra"></span>
                <label for="">Description</label>
            </div>
            <button>Save</button>
        </div>
    </form>
</div>
        
<footer>
    <div class="github"><a href="https://github.com/danicelistobon" style="display: block; height: 100%" target="_blank"></a></div>
    <div class="twitter"><a href="https://twitter.com/danicelistobon" style="display: block; height: 100%" target="_blank"></a></div>
    <div class="linkedin"><a href="https://www.linkedin.com/in/danicelistobon/" style="display: block; height: 100%" target="_blank"></a></div>
    <div class="holberton"><a href="https://www.holbertonschool.com" style="display: block; height: 100%" target="_blank"></a></div>
</footer>