<header>
    <div class="logoc">
        <a href="/clubs" style="display: block; height: 100%"></a>
    </div>
    <h1>Discotheque</h1>
    <div class="profile">
        <a href=# style="display: block; height: 80px; width: 80px"></a>
        <div class="popover">
            <ul>
                {{#if user}}
                <li><a href="/user">Your profile</a></li>
                <li class="borde"><a href="/clubs/add">Create a club</a></li>
                <li><a href="/signout">Sign out</a></li>
                {{else}}
                <li><a href="/signin">Sign in</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</header>

<div class="cont-event">
    <div class="cont-event-img">
        <img src="/images/Portada3.jpg" alt="" style="width: 700px">
    </div>
    <div class="cont-event-info">
        <h1>{{event.name}}</h1>
        <h2>Location</h2>
        <p>{{event.place}}</p>
        <h2>Date event</h2>
        <p>{{event.date_event}}</p>
        <h2>Cover</h2>
        <p>$ {{event.cover}}</p>
        <h2>Description</h2>
        <p>{{event.description}}</p>
        <div class="cont-reserve">
            <p>Would you like to reserve?</p>
            <form action="/event/{{id}}" method="POST">
                <div class="grupo">
                    <input type="text" name="id_card" required><span class="barra"></span>
                    <label for="">Cedula</label>
                </div>
                <button>Reserve</button>
            </form>
        </div>
    </div>
</div>

<footer>
    <div class="github"><a href="https://github.com/danicelistobon" style="display: block; height: 100%" target="_blank"></a></div>
    <div class="twitter"><a href="https://twitter.com/danicelistobon" style="display: block; height: 100%" target="_blank"></a></div>
    <div class="linkedin"><a href="https://www.linkedin.com/in/danicelistobon/" style="display: block; height: 100%" target="_blank"></a></div>
    <div class="holberton"><a href="https://www.holbertonschool.com" style="display: block; height: 100%" target="_blank"></a></div>
</footer>